<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a mi app de django</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum beatae ipsum illum consectetur dolor natus quam asperiores! Possimus tempora, deserunt illum velit quos ut mollitia, voluptatibus saepe nobis quo accusamus! Beatae, officia cum ea esse hic soluta, ipsam quam omnis ad modi quos quod nihil dolore corporis quibusdam alias dolor nulla? Enim qui necessitatibus vitae atque culpa debitis, quod omnis ad commodi vel repellat laudantium harum velit rem facilis recusandae, iure suscipit ratione iusto delectus iste accusamus, dolore placeat excepturi. Veritatis ipsa iusto vel assumenda enim quisquam voluptate asperiores aperiam!</p>
</body>
</html>