<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
    <title>All Lounges</title>
</head>
<body>
    {% include 'components/header.html' %}

    <div class="container">
    
        {% if not user.is_authenticated %}
        <h2 class="text-center">No has iniciado sesión</h2>
        {% endif %}

        <h1 class="text-center mt-5">View All Lounges</h1>
        <div class="table-responsive mt-4">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Numero de ficha</th>
                        <th>Descripcion</th>
                        <th>Estudiantes</th>
                        <th>Ver profesores</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lounge in lounges %}
                    <tr>
                        <td>{{ lounge.lounge_number }}</td>
                        <td>{{ lounge.lounge_description }}</td>
                        <td>{{ lounge.lounge_students }}</td>
                        <td>
                            <form action="{% url 'filterTeachers' lounge.id %}" method="GET">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-eye-fill"></i> Profesores de esta ficha
                                </button>
                            </form>
                        </td>
                        <td class="actions">
                            <form action="{% url 'updateLoungeForm' lounge.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </form>
                            <form action="{% url 'deleteLounge' lounge.id %}" method="get">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-4">
        <a href="{% url 'createLoungeView' %}" class="btn btn-success">Create New Lounge</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
