<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Teachers-Lounges</title>
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">View Teachers from a Lounge</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Numero de ficha</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loungesTeach in loungesTeachers %}
                    <tr>
                        <td>{{loungesTeach.lounge.lounge_number}}</td>
                        <td>{{loungesTeach.teacher.name}} {{loungesTeach.teacher.lastname}}</td>
                        <td>
                            <form action="" method="post">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                            </form>
                            <form action="" method="get">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a href="{% url 'assignLt' %}" class="btn btn-success">Assign New Lounge to Teacher</a>
        </div>
    </div>

</body>
</html>
